KaraokeService/src/main/webapp/wsdl/CancionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CancionService" targetNamespace="http://service.karaoke.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://service.karaoke.com/">
  <wsdl:types>
<xs:schema xmlns:tns="http://service.karaoke.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://service.karaoke.com/" version="1.0">

  <xs:element name="crearCancion" type="tns:crearCancion"/>

  <xs:element name="crearCancionResponse" type="tns:crearCancionResponse"/>

  <xs:complexType name="crearCancion">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:cancion"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancion">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="xs:string"/>
      <xs:element minOccurs="0" name="estado" type="xs:int"/>
      <xs:element minOccurs="0" name="genero" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="pedidos" nillable="true" type="tns:pedido"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="cancion" type="tns:cancion"/>
      <xs:element minOccurs="0" name="dispositivoId" type="xs:string"/>
      <xs:element minOccurs="0" name="estado" type="xs:int"/>
      <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="crearCancionResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="crearCancion">
    <wsdl:part name="parameters" element="ns1:crearCancion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearCancionResponse">
    <wsdl:part name="parameters" element="ns1:crearCancionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CancionService">
    <wsdl:operation name="crearCancion">
      <wsdl:input name="crearCancion" message="ns1:crearCancion">
    </wsdl:input>
      <wsdl:output name="crearCancionResponse" message="ns1:crearCancionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
